* {
    margin: 0;
    padding: 0;
    font-family: roboto, arial;
}

@media screen and (orientation:portrait){
    * {
        font-size: 2.5vw;
    }
}

@media screen and (orientation:landscape){
    * {
        font-size: 2.5vh;
    }
}

body {
    width: 100vw;
    height: 100vh; 
    background: linear-gradient(#B2EBF2,#26A69A);
}

#resBox {
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#resBox > span {
    margin: 1vh 0;
    padding: 1vh 1vw;
    resize: none;
    background: #fff;
    width: 15vw;
    line-height: 2rem;
    display: flex;
    flex-direction: column;
}


#resBox > span input {
    border: none;
    box-shadow: 0px 2px 0px 0px #AAA;
    padding: 0.5rem;
}



#wrapper > form {
    margin: 1vh 1vw;
}
